<% provide(:title, "レシピ一覧") %>
<section class="section content-width">
  <h1 class="sectionTitle">みんなのレシピ一覧</h1>
  <ul class="recipes">
    <% if @recipes.any? %>
      <%= render @recipes %>
    <% else %>
      <p class="nothing" style="padding-left: 30px;">現在投稿されているレシピはありません</p>
    <% end %>
  </ul>
  <%= will_paginate @recipes %>
</section>