<% provide(:title, "レシピ一覧") %>
<section class="section content-width">
  <h1 class="sectionTitle">みんなのレシピ一覧</h1>
  <ul class="recipes">
    <%= render @recipes %>
  </ul>
  <%= will_paginate %>
</section>