<% provide(:title, @title) %>
<section class="section content-width">
  <h1 class="sectionTitle"><%= @title %>レシピ一覧</h1>
  <ul class="recipes">
    <% if @recipes.empty? %>
      <p>見つかりませんでした</p>
    <% end %>
    <%= render @recipes %>
  </ul>
  <div class="read-more">
    <%= link_to "レシピ一覧へ", recipes_path ,class: "read-more__btn btn"%>
  </div>
</section>