<% provide(:title, "ユーザー一覧") %>
<section class="section content-width">
  <h1 class="sectionTitle">ユーザー一覧</h1>
  <div class="users">
    <ul class="users__list">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</section>