<% provide(:title, "ユーザー一覧") %>
<section class="section content-width">
  <h1 class="sectionTitle">ユーザー一覧</h1>
  <div class="users">
    <ul class="users__list">
      <li class="user__item">
        <div class="user__image">
          <%= image_tag 'default.svg', :class => "image", :alt => 'デフォルト画像' %>
        </div>
        <div class="user__name">
          <a class="user__name-link">ユーザー名</a>
        </div>
      </li>
    </ul>
  </div>
</section>