<% provide(:title, "ユーザー登録") %>
<section class="section inner-width">
  <div class="form__inner">
    <h1 class="sectionTitle">ユーザー登録</h1>
    <form class="form">
      <label for="name" class="form__label">名前</label>
      <input class="form-control" type="text" id="name">

      <label for="email" class="form__label">メールアドレス</label>
      <input class="form-control" type="email" id="email">

      <label for="password" class="form__label">パスワード</label>
      <input class="form-control" type="password" id="password">

      <label for="password-cofirmation" class="form__label">パスワード（確認）</label>
      <input class="form-control" type="password" id="password-cofirmation">

      <input type="submit" value="ユーザー登録" class="form__btn btn">
    </form>
  </div>
</section>
