<% provide(:title, @title) %>
<section class="section content-width">
    <h1 class="sectionTitle"><%= @title %></h1>
    <ul class="recipes">
    <% if @favorite_recipes.any? %>
      <%= render @favorite_recipes %>
    <% else %>
      <p class="nothing">お気に入りの投稿はありません。</p>
    <% end %>
    </ul>
    <%= will_paginate @favorite_recipes %>
</section>