<% provide(:title, "ホーム") %>
<section class="section content-width">
  <h1 class="sectionTitle">最近のレシピ</h1>
  <ul class="recipes">
    <%= render @recipes %>
  </ul>
  <div class="read-more">
    <%= link_to "レシピ一覧へ", recipes_path ,class: "read-more__btn btn"%>
  </div>
</section>
<section class="section content-width">
  <h1 class="sectionTitle">人気のズボラレシピ</h1>
  <ul class="recipes">
    <% if @favorite_recipes.any? %>
      <%= render @favorite_recipes %>
    <% end %>
  </ul>
</section>
<% if logged_in? %>
  <section class="section content-width">
    <h1 class="sectionTitle">フォローしているユーザーのレシピ</h1>
    <ul class="recipes">
    <% if @following_recipes.any? %>
      <%= render @following_recipes %>
    <% end %>
    </ul>
  </section>
<% end %>