@charset "utf-8";

$baseColor: #DED36E;
$fontColor: #C6020C;

/* reset css */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* common */

*{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  color: #000;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-size: 1.6rem;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.content-width{
  max-width: 1100px;
  margin: 0 auto;
}
.image{
  width: 100%;
}
.section{
  margin-bottom: 50px;
}
.sectionTitle{
  font-size: 2.5rem;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
  cursor: pointer;
}

/* flashメッセージ */

.error_explanation {
  color: red;
}
.error_messages {
  color: red;
  margin: 0 0 30px 0;
  list-style-type: disc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}


/* header */

.header{
  width: 100%;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  height: 92px;
  align-items: center;
}
.header__logo{
  font-size: 3.2rem;
  font-family: 'Allison', cursive;
}
.header__logo-link{
  color: $fontColor;
  text-decoration: none;
}
.header__search{
  width: 450px;
  margin: 7px 0;
  form{
    width: 100%;
  }
  .header__search-text{
    margin-top: 8px;
    font-size: 1.2rem;
  }
}
.search__form{
  width: 60%;
  padding: 5px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.submit__btn{
  width: 30%;
  padding: 6px 0;
  color: #000;
  background-color: $baseColor;
  border-color: $baseColor;
}
.header__menu-list{
  display: flex;
}
.header__menu-item{
  &:nth-child(n+2){
    margin-left: 20px;
  }
}
.header__nav{
  background-color: $baseColor;
}
.header__nav__inner{
  max-width: 1100px;
  margin: 0 auto;
}
.header__nav-list{
  display: flex;
  justify-content: center;
}
.header__nav-item{
  &:nth-child(n+2){
    margin-left: 20px;
  }
  margin-top: 15px;
  margin-bottom: 20px;
}
.header__nav-link{
  padding: 15px 20px;
}

/* main */
/* each pages */

.main{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* top page */

.recipe{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe__card{
  width: 30%;
  &:nth-child(n+4){
    margin-top: 35px;
  }
}
.recipe__card-title{
  font-size: 1.8rem;
  padding: 8px 0;
  line-height: 1.5;
}
.recipe__card-description{
  line-height: 1.5;
}

/* profile page */

.profileCard__info{
  display: flex;
}
.profileCard__image{
  width: 150px;
  height: 150px;
  margin-right: 30px;
  .image{
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.profileCard__user-name{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 15px;
}
.profileCard__user-follow{
  display: flex;
  margin-top: 35px;
}
.profileCard__user-following{
  padding-right: 25px;
  border-right: solid 1px #000;
}
.profileCard__user-followr{
  padding-left: 25px;
}
.profileCard__user-following-link, .profileCard__user-follower-link{
  margin-top: 8px;
}
.profileCard__follow-btn{
  margin-top: 25px;
  color: #000;
  width: 50%;
  background-color: $baseColor;
  border-color: $baseColor;
}

/* form */

.form__inner{
  width: 55%;
  margin: 0 auto;
}
.form{
  display: block;
  width: 100%;
}
.form__label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-control{
  // transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 25px;
  // box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.form__btn{
  color: #000;
  width: 100%;
  background-color: $baseColor;
  border-color: $baseColor;
}


/* footer */

.footer{
  background-color: $baseColor;
  font-size: 1.2rem;
}
.footer__inner{
  padding: 20px 0;
}
.footer__list{
  display: flex;
  justify-content: center;
}
.footer__copyright{
  text-align: center;
  margin-top: 30px;
}