<% provide(:title, @category.name) %>
<section class="section content-width">
  <h1 class="sectionTitle">カテゴリ：「<%= @category.name %>」に関するレシピ一覧</h1>
  <ul class="recipes">
    <% if @recipes.empty? %>
      <p>見つかりませんでした</p>
    <% end %>
    <%= render @recipes %>
  </ul>
  <%= will_paginate @recipes %>
  <div class="read-more">
    <%= link_to "レシピ一覧へ", recipes_path ,class: "read-more__btn btn"%>
  </div>
</section>