<header class="header">
    <div class="header__inner">
      <h1 class="header__logo"><%= link_to 'ZuboRecipes', '#', class: 'header__logo-link' %></h1>
      <div class="header__search">
        <form>
          <input type="search" name="search" placeholder="キーワードを入力" class="search__form">
          <input type="submit" name="submit" value="レシピ検索" class="submit__btn">
          <p class="header__search-text">検索したいキーワードを入力してください。</p>
        </form>
      </div>
      <div class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item"><a href="" class="header__menu-link">レシピを投稿</a></li>
          <li class="header__menu-item"><a href="" class="header__menu-link">お気に入り一覧</a></li>
        </ul>
      </div>
    </div>
    <nav class="header__nav">
      <div class="header__nav__inner">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a href="" class="header__nav-link">ホーム</a></li>
          <li class="header__nav-item"><a href="" class="header__nav-link">ログイン</a></li>
          <li class="header__nav-item"><a href="" class="header__nav-link">ユーザー登録</a></li>
        </ul>
      </div>
    </nav>
  </header>